* {
	font-family: 'Source Sans Pro', sans-serif;
	outline: none !important;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	color: #000000;
}

.row, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
	.col-9, .col-10, .col-11, .col-12 {
	width: 100%;
	margin: 0;
	padding: 0;
}

ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	position: relative;
	margin: 0px;
	padding: 0px;
	background: #fff;
	font-size: 12pt;
	font-weight: 300;
	color: #444444;
	margin: 0px;
}

.header {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 25%;
	background: #ececec;
	box-shadow: 0px 0px 20px 0px #00000066;
	overflow: scroll;
}

.page {
	width: 75%;
	margin-left: 25%;
	overflow: scroll;
}

.content_main {
	width: 100%;
}

/* ------------------- ALERT MODAL ------------------- */
.modal-body p {
	text-align: center;
}

.modal-content.success {
	background-color: #daffd7;
	border: 1px solid #58b351;
}

.modal-content.error {
	background-color: #ff9797;
	border: solid 1px #ff0202;
}