/* ------------------- EQUIPMENT ------------------- */
.page.pantry {
	padding: 10px 15px;
}

.pantry h5 {
	margin-bottom: 10px;
	font-size: 28px;
	font-weight: 300;
}

.my-pantry {
	padding-left: 20px;
	border-right: solid 1px #000000;
}

.my-ingredients {
	padding: 30px 50px 30px 20px;
}

.ingredient-pantry {
	margin: 5px 0px 10px;
	padding: 5px 5px 10px;
	border-bottom: solid 1px #d0d0d0;
}

.ingredient-pantry h6 {
	display: inline-block;
	margin-right: 5px; font-size : 18px;
	font-weight: 500;
	font-size: 18px;
}

.ingredient-pantry p {
	display: inline-block;
	font-size: 18px;
	font-weight: 300;
}

.edit-pantry {
	padding-left: 20px;
}

.edit-pantry form {
	padding: 40px 30px 60px;
}

.ingredient {
	position: relative;
	margin: 5px 0px 10px;
	padding: 5px 5px 10px;
	border-bottom: solid 1px #d0d0d0;
	margin: 5px 0px 10px;
}

.ingredient h6 {
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
}

.input-ingredient {
	position: absolute;
	top: 0;
	right: 20px;
	width: 140px;
}

.input-ingredient input {
	margin: 0 10px;
}

.input-ingredient input[type="number"] {
	width: 100px;
}

.input-ingredient p {
	display: inline-block;
	font-size: 14px;
	font-weight: 300;
}

.edit-pantry button {
	position: absolute;
	bottom: 20px;
	right: 40px;
	padding: 2px 10px 1px;
	border: solid 1px #333333;
	background-color: #333333;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	cursor: pointer;
}