/* ------------------- RECIPES ------------------- */
.main {
	padding: 20px 50px;
}

.show_all, .show_all:hover, .show_all:active, .show_all:focus {
	color: #333333;
	text-decoration: none;
}
#open_search {
	position: absolute;
	top: 20px;
	right: 30px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	z-index: 25;
}

#open_search img {
	width: 30px;
}

#search_cont {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 400px;
	right: -400px;
	padding: 20px;
	background-color: #ececec;
	z-index: 20;
	transition: right .2s 0s ease-in-out;
	-webkit-transition: right .2s 0s ease-in-out;
	-moz-transition: right .3s 0s ease-in-out;
	-o-transition: right .3s 0s ease-in-out;
}
#search_cont form {
	margin: 10px 0;
}
#search_cont form p {
	font-weight: 500;
}
#search_cont form td {
	font-size: 14px;
}
#search_cont form td:first-child {
	width: 120px;
}
#search_cont form td:last-child input {
	width: 140px;
}


.recipes_element {
	width: 100%;
	padding: 20px 0;
	border-bottom: solid 1px #d0d0d0;
}

.recipes_inner {
	position: relative;
}

.recipes_element a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
}

.recipes_img {
	width: 100%;
}

.recipes_lock {
	display: inline-block;
	width: 20px;
	margin-top: -10px;
}

.recipes_element h3 {
	display: inline-block;
	padding: 5px 0 5px 20px;
	text-align: left;
}

.recipes_element p {
	padding: 0 0 0 20px;
	text-align: left;
}

/* ------------------- RECIPE ------------------- */
.back_recipes {
	display: block;
	margin-bottom: 5px;
}

.back_recipes, .back_recipes:hover, .back_recipes:visited, .back_recipes:focus
	{
	color: #333333;
	text-decoration: none;
}

.recipe_img {
	position: relative;
	width: 100%;
	margin: 0;
	height: 500px;
	padding: 0 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.recipe_cont {
	width: 100%;
	padding: 20px 20px;
}

.recipe_titCont {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.recipe_title {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 0 0 10px 20px;
	color: #ffffff;
	background-color: #000000b3;
	box-shadow: 0px 0px 60px 40px #000000b3;
	bottom: 0;
	padding: 0 0 10px 20px;
}

.recipe_title h3 {
	margin-bottom: 0;
	font-size: 40px;
}

.recipe_title p {
	float: left;
	margin-right: 20px;
	font-size: 14px;
}

.recipe_action {
	position: absolute;
	bottom: 20px;
	width: 30px;
}

.recipe_action.rec_brew {
	right: 20px;
}

.recipe_action.rec_edit {
	right: 60px;
}

.recipe_action button {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

.recipe_action button img {
	width: 100%;
}

.recipe_menu {
	
}

.recipe_menu button {
	border: solid 1px #ececec;
	background-color: #ececec;
}

.recipe_menu button.active {
	border: solid 1px #333333;
	background-color: #ffffff;
}

.recipe_cont table {
	margin: 10px;
}

.recipe_cont td {
	padding: 5px 10px;
	border: solid 1px #cecece;
}

.leftIngr {
	width: 140px;
}

.rightIngr {
	width: 80px;
	text-align: right;
}

.recipe_description {
	padding: 10px 0 20px;
	font-size: 18px;
	line-height: 30px;
}

.recipe_steps {
	padding: 10px 0 20px;
}

.recipe_steps h5 {
	
}

.recipe_steps ul {
	
}

.recipe_steps li {
	
}

/* ------------------- EDIT RECIPE ------------------- */
.recipe_edit_form {
	
}

.recipe_edit_form input[name="name"] {
	width: 100%;
}

.recipe_edit_form textarea[name="description"] {
	width: 100%;
	height: 100px;
	resize: none;
}

/* ------------------- CREATE RECIPE ------------------- */
#create_recipe_form .valid {
	border: solid 1px green;
}