/* ------------------- RECIPES ------------------- */
.page.recipe_list {
	padding: 80px 50px 20px;
}

.new_recipe, .new_recipe:hover, .new_recipe:active, .new_recipe:focus {
	font-size: 18px;
	color: #333333;
	text-decoration: none;
	color: #333333;
}

.show_all, .show_all:hover, .show_all:active, .show_all:focus {
	color: #333333;
	text-decoration: none;
}

.recipes_menu_top {
	position: fixed;
	top: 0;
	left: 25%;
	width: 75%;
	height: 80px;
	background-color: transparent;
	z-index: 10;
	overflow: hidden;
}

.recipes_menu_top_shad {
	height: 67px;
	background-color: transparent;
	z-index: 10;
	box-shadow: 0px 0px 20px 0px #00000066;
}

.recipes_menu_ins {
	position: fixed;
	top: 0;
	left: 25%;
	width: calc(75% - 60px);
	height: 67px;
	margin: 0 30px;
	padding: 20px 30px;
	background-color: #ffffff;
}

.recipes_menu_shad {
	box-shadow: 0px 0px 10px 0px #00000066;
}

#open_search {
	position: fixed;
	top: 16px;
	right: 10px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	z-index: 30;
}

#open_search img {
	width: 30px;
}

#search_cont {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 400px;
	right: -400px;
	padding: 20px 30px;
	background-color: #ececec;
	z-index: 20;
	opacity: 0;
	box-shadow: 0px 0px 10px 0px #00000066;
	transition: right .2s 0s ease-in-out, opacity .1s .3s linear;
	-webkit-transition: right .2s 0s ease-in-out, opacity .1s .3s linear;
	-moz-transition: right .3s 0s ease-in-out, opacity .1s .3s linear;
	-o-transition: right .3s 0s ease-in-out, opacity .1s .3s linear;
}

#search_cont.active {
	opacity: 1;
	transition: right .2s 0s ease-in-out, opacity 0s 0s linear;
	-webkit-transition: right .2s 0s ease-in-out, opacity 0s 0s linear;
	-moz-transition: right .2s 0s ease-in-out, opacity 0s 0s linear;
	-o-transition: right .2s 0s ease-in-out, opacity 0s 0s linear;
}

#close_search {
	position: absolute;
	top: 16px;
	right: 10px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	z-index: 30;
}

#close_search img {
	width: 30px;
}

#search_cont form {
	margin: 10px 0;
}

#search_cont form p {
	font-weight: 500;
}

#search_cont form td {
	font-size: 14px;
}

#search_cont form td:first-child {
	width: 120px;
}

#search_cont form td:last-child input {
	width: 140px;
}

.recipes_element {
	width: 100%;
	padding: 20px 0;
	border-bottom: solid 1px #d0d0d0;
}

.recipes_inner {
	position: relative;
}

.recipes_element a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
}

.recipes_img {
	width: 100%;
}

.recipes_lock {
	display: inline-block;
	width: 20px;
	margin-top: -10px;
}

.recipes_element h3 {
	display: inline-block;
	padding: 5px 0 5px 20px;
	text-align: left;
}

.recipes_element p {
	padding: 0 0 0 20px;
	text-align: left;
}

/* ------------------- RECIPE ------------------- */
.page.recipe {
	padding: 20px 50px;
}

.recipe_img {
	position: relative;
	width: 100%;
	margin: 0;
	height: 500px;
	padding: 0 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.recipe_cont {
	width: 100%;
	height: 100%;
	padding: 40px 20px;
}

.recipe_titCont {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.recipe_title {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 0 0 10px 20px;
	color: #ffffff;
	background-color: #000000b3;
	box-shadow: 0px 0px 60px 40px #000000b3;
	bottom: 0;
	padding: 0 0 10px 20px;
}

.recipe_title h3 {
	margin-bottom: 0;
	font-size: 40px;
}

.recipe_title p {
	float: left;
	margin-right: 20px;
	font-size: 14px;
}

.recipe_action {
	position: absolute;
	bottom: 20px;
	width: 30px;
}

.recipe_action.rec_brew {
	right: 20px;
}

.recipe_action.rec_edit {
	right: 60px;
}

.recipe_action button {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

.recipe_action button img {
	width: 100%;
}

.recipe_menu button {
	border: solid 1px #ececec;
	background-color: #ececec;
}

.recipe_menu button.active {
	border: solid 1px #333333;
	background-color: #ffffff;
}

.recipe_cont table {
	margin: 10px;
}

.recipe_cont td {
	padding: 5px 10px;
	border: solid 1px #cecece;
}

.leftIngr {
	width: 140px;
}

.rightIngr {
	width: 80px;
	text-align: right;
}

.recipe_description {
	padding: 10px 0 20px;
	font-size: 18px;
	line-height: 30px;
}

.recipe_steps {
	padding: 10px 0 20px;
}

.list_brews {
	width: 100%;
	margin: 0;
}

.button_brew {
	width: 100%;
	cursor: pointer;
}

.button_brew:hover, .button_brew:focus {
	background-color: #f3f3f3;
}

.modal_field {
	padding: 10px;
}

.modal_field h6 {
	margin-bottom: 5px;
	font-size: 18px;
	text-align: left;
}

.modal_field p {
	text-align: left;
}

/* ------------------- EDIT RECIPE ------------------- */
.edit-recipe-top {
	position: relative;
	margin: 20px 0 40px;
}

.edit-recipe-top h4 {
	width: 100%;
	text-align: center;
	font-size: 32px;
}

.edit-recipe-top a, .edit-recipe-top button {
	position: absolute;
	top: 5px;
	padding: 0 5px;
	margin: 0 4px;
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	text-decoration: none;
	cursor: pointer;
}

.edit-recipe-top a {
	left: 0;
}

.edit-recipe-top button {
	right: 0;
	background-color: transparent;
	border: solid 1px #333333;
}

.edit-recipe-top button:hover {
	background-color: #ececec;
}

.recipe-edit-form form {
	position: relative;
	width: 100%;
}

.recipe-edit-form .row {
	margin-bottom: 30px;
}

.recipe-edit-form h6 {
	font-size: 20px;
	margin-bottom: 10px;
}

.recipe-edit-visibility {
	padding: 0 20px;
}

.recipe-edit-visibility select {
	width: 100%;
}

.recipe-edit-form input[name="name"] {
	width: 100%;
	border: solid 1px #333333;
}

.recipe-edit-form textarea[name="description"] {
	width: 100%;
	height: 150px;
	resize: none;
	border: solid 1px #333333;
}

.recipe-edit-form .leftIngr {
	width: 150px;
}

.recipe-edit-form .rightIngr {
	width: calc(100% - 100px);
}

.recipe-edit-form .rightIngr input {
	width: 100px;
	float: left;
	border: none;
	margin: 0px 5px;
}

.recipe-edit-form .rightIngr input[name^="valueIngr-"] {
	width: 80px;
	background-color: #ececec;
	text-align: right;
}

.edit-recipe-steps h6 {
	float: left;
	margin-right: 10px;
}

.buttons-adder-steps {
	float: left;
}

.buttons-adder-steps button {
	width: 26px;
	padding: 0;
	border: solid 1px #333333;
	border-radius: 4px;
	background-color: transparent;
	line-height: 20px;
	cursor: pointer;
}

.buttons-adder-steps button:hover {
	background-color: #ececec;
}

.edit-recipe-steps table {
	width: 100%;
}

.edit-recipe-steps tr {
	height: 70px;
}

.edit-recipe-steps .leftStep {
	width: 20px;
	font-weight: 600;
}

.edit-recipe-steps .rightStep {
	width: calc(100% - 20px);
}

.edit-recipe-steps .rightStep textarea {
	width: 100%;
	height: 51px;
	resize: none;
}

.recipe-edit-form button[name="editRecipe"] {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 5px;
	margin: 0 4px;
	border: solid 1px #333333;
	background-color: transparent;
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	text-decoration: none;
	cursor: pointer;
}
.recipe-edit-form button[name="editRecipe"]:hover {
	background-color: #ececec;
}

/* ------------------- CREATE RECIPE ------------------- */
#create_recipe_form .valid {
	border: solid 1px green;
}