/* ------------------- MAIN ------------------- */
.registration_cont {
	position: absolute;
	top: 0;
	right: calc(50% - 300px);
	width: 600px;
	padding: 30px 0 50px;
	margin: 50px auto;
	border-radius: 5px;
	background: #ffaf00f2;
	box-shadow: 0px 0px 10px 0px #00000066;
	z-index: 10;
}

.main h2 {
	margin: 0 0 30px;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
}

#registration_form {
	position: relative;
	width: 450px;
	padding: 0;
	margin: 0 auto;
}

#registration_form div {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

#registration_form h3 {
	font-size: 16px;
	font-weight: 300;
}

#registration_form input {
	width: 100%;
	margin: 0 0 10px;
	padding: 7px 12px 6px;
	background-color: #ffffff;
	border: solid 1px #ffffff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px #00000080;
}

#registration_form input.valid {
	border: solid 1px #000;
	background-color: #ffffff;
}

#registration_form #addNewUser {
	width: auto;
	float: right;
	margin: 20px 0 0;
	padding: 4px 15px 3px;
	border: 0;
	background-color: #333333;
	color: #ffffff;
	font-size: 16px;
	box-shadow: none;
}

#registration_form #addNewUser:disabled {
	background-color: #ffffff80;
	color: #cecece;
}